<header class="header">
  <div class="container text-center">
    <div class="top-row row">
      <%= link_to "Dinah Shi", "/", :class => "header-logo" %>
    </div>

    <div class="bottom-row row">
      <nav class="header-nav">
        <ul>
          <li><%= link_to "About", "/about", :class => "header-link" %></li>
          <li><%= link_to "Portfolio", "/portfolio", :class => "header-link" %></li>
          <li><%= link_to "Resume", "/", :class => "header-link" %></li>
          <li><%= link_to "Press", "/press", :class => "header-link" %></li>
          <li><%= link_to "Blog", "/blog", :class => "header-link" %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
